<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331955495435-dlggmheftslbino20jpsf45vcp4c387f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331955495435-dlggmheftslbino20jpsf45vcp4c387f</string>
	<key>API_KEY</key>
	<string>AIzaSyAPJ-kHypmtHpgFawsONOL3ybo7oLlqEfA</string>
	<key>GCM_SENDER_ID</key>
	<string>331955495435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.enspyr.techWorld</string>
	<key>PROJECT_ID</key>
	<string>tech-world-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tech-world-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331955495435:ios:9e304a8c31d8b31c765d0e</string>
</dict>
</plist>